<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Management App</title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
            text-align: center;
            padding: 20px;
            background-color: #e0e0e0;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 10px 0;
            padding: 10px;
            background-color: #fff;
        }

        a {
        background-color: #4caf50;
        color: white;
        margin-left: 47%;
        text-decoration: none;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        font-size: 16px;
        }

        .remove-icon {
        cursor: pointer;
        font-size: 20px;
        margin-left: 10px;
    }

    .remove-icon:hover {
        color: #e74c3c;
    }
    label{
        font-weight: bold;
    }
    button {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        font-size: 16px;
    }

    button:hover {
        background-color: #45a049;
    }
    .title{
        text-align: center;
        margin-left: 50%;
        text-transform: capitalize;
        font-size: 20px;
    }
    .item{
        margin-left: 40%;
    }
    input {
        padding: 8px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    </style>
</head>
<body>

    <h1>What would you like to eat?</h1>

    <% if (foods && foods.length > 0) { %>
        <ul>
            <% foods.forEach((food) => { %>
                <li>
                    <div>
                        <strong class="title"><%= food.title %></strong>
                        <p class="item">
                        <label for="quantity_<%= food._id %>">Quantity(g):</label>
                        <input type="number" id="quantity_<%= food._id %>" name="quantity" min="1" value="1">
                        <button onclick="eatFood('<%= food._id %>')">Eat</button>
                        </p>
                    </div>
                </li>
            <% }); %>
        </ul>        
    <% } else { %>
        <p>No foods added yet.</p>
    <% } %>

    <a href="/">Go to home page</a>
<script>
   async function eatFood(foodId) {
        const quantity = document.getElementById(`quantity_${foodId}`).value;

        try {
            const response = await fetch(`/api/eat-food/${foodId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ quantity }),
            });

            if (response.ok) {
                console.log('Food eaten successfully.');
                window.location.href="/";
            } else {
                console.error('Error eating food.');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

</script>
</body>
</html>
