<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Management App</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center; 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            color: #000000; 
        }

        .container {
            background-color: rgba(255, 255, 255, 0.8); 
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            max-width: 400px;
            width: 100%;
            box-sizing: border-box;
            margin-top: 0%;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
}

a:hover {
    background-color: #45a049;
    color: #fff;
}


        .appnamer{
            background-color: #6bc36e;
            border-radius: 8px;
            border: 20px;
            width: 600px;
            height: 60px;
            margin-left: -30%;
            align-items: center;
            margin-top: 0%;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="appnamer">
            <h1 class="appname">Food Management App</h1>
        </div>
        <a href="/create-new-food">Add Food</a>
        <a href="/view-all-foods">View All Foods</a>
        <a href="/eat-food">Eat Food</a>
        <p><a href="/logout">Log Out</a></p>
        <div id="totalCaloriesIndicator">
            Loading total calories...
        </div>
    </div>
    <script>
        // Function to fetch and update total calories
        async function updateTotalCalories() {
            try {
                const response = await fetch('/api/total-calories');
                const data = await response.json();

                if (response.ok) {
                    const totalCaloriesIndicator = document.getElementById('totalCaloriesIndicator');
                    totalCaloriesIndicator.innerText = `Total Calories Today: ${data.totalCalories}`;
                } else {
                    console.error('Error fetching total calories:', data.message);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

        // Call the function on page load
        window.onload = updateTotalCalories;
    </script>
</body>
</html>
