<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Management App</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center; 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            color: #000000; 
        }

        .container {
            background-color: rgba(255, 255, 255, 0.8); 
            padding: 20px;
            border-radius: 8px;
            margin: 20px;
            text-align: center;
            max-width: 400px;
            width: 100%;
            box-sizing: border-box;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        a {
            color: #3498db;
            text-decoration: none;
            margin-top: 20px;
            display: inline-block;
            padding: 10px;
            border: 1px solid #3498db;
            border-radius: 4px;
            transition: background-color 0.3s, color 0.3s;
        }

        a:hover {
            background-color: #3498db;
            color: #fff;
        }

        .appnamer{
            background-color: cadetblue;
            border-radius: 8px;
            border: 20px;
            width: 600px;
            height: 60px;
            margin-left: -30%;
            align-items: center;
        }
    </style>
</head>
<body>

    <div class="container">
    <div class="appnamer">
        <h1 class="appname">Food Management App</h1>
    </div>
        <a href="/create-new-food">Add Food</a>
        <a href="/view-all-food">View All Foods</a>
    </div>

</body>
</html>
