<!-- views/viewFoods.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Foods</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link your external stylesheet here -->
    <!-- Include Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <style>
        /* Add your styles here */

        /* Styles for delete button */
        .delete-btn {
            background-color: #e74c3c;
            color: #fff;
            padding: 5px 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .delete-btn:hover {
            background-color: #c0392b;
        }
    </style>
</head>
<body>

    <h1>All Your Foods</h1>

    <% if (foods && foods.length > 0) { %>
        <ul>
            <% foods.forEach((food) => { %>
                <li>
                    <div>
                        <strong>Title:</strong> <%= food.title %>, 
                        <strong>Calories:</strong> <%= food.calories %>, 
                        <strong>Mass:</strong> <%= food.mass %>
                        <!-- Add delete button with icon -->
                        <button class="delete-btn" onclick="deleteFood('<%= food._id %>')">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </div>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No foods added yet.</p>
    <% } %>

    <a href="/">Go to home page</a>

    <script>
        // JavaScript function to handle food deletion
        function deleteFood(foodId) {
            fetch(`/api/delete-food/${foodId}`, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    // Reload the page after successful deletion
                    if (data.success) {
                        window.location.reload();
                    } else {
                        console.error('Failed to delete food');
                    }
                })
                .catch(error => console.error('Error deleting food:', error));
        }
    </script>
</body>
</html>
